*.db
*.log
.idea/
*.log
*.iml
*.ipr
*.iws
*.pyc
.classpath
*.swp
.settings
.project
.idea/*
.settings/*
target/*
web-app/plugins/*
target/

br/__pycache__/
br/com/__pycache__/
br/com/synchro/__pycache__/
br/com/synchro/arvoreClassificatoria/__pycache__/
